[submodule "themes/flex"]
	path = templates/flex
	url = https://github.com/alexandrevicenzi/Flex.git
[submodule "themes/pelican-clean-blog"]
	path = templates/pelican-clean-blog
	url = https://github.com/gilsondev/pelican-clean-blog.git
